{
  "plugins": ["react"],
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "modules": ["src", "node_modules"],
            "extensions": [".js", ".jsx"]
          }
        }
      }
    }
  },
  "rules": {
    "quotes": ["error", "double"],
    "semi": ["error", "never"],
    "object-curly-spacing": ["error", "never"],
    "react/jsx-one-expression-per-line": 0,
    "comma-dangle": 0,
    "arrow-parens": ["error", "as-needed"],
    "no-param-reassign": 0,
    "object-curly-newline": ["error", {"consistent": true}],
    "lines-between-class-members": 0,
    "no-return-assign": 0,
    "no-confusing-arrow": 0,
    "import/no-extraneous-dependencies": 0
  }
}
