@font-face {
  font-family: "icomoon";
  src:  url("./fonts/icomoon.eot?rgwyef");
  src:  url("./fonts/icomoon.eot?rgwyef#iefix") format("embedded-opentype"),
    url("./fonts/icomoon.ttf?rgwyef") format("truetype"),
    url("./fonts/icomoon.woff?rgwyef") format("woff"),
    url("./fonts/icomoon.svg?rgwyef#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global(.icon-profile):before {
  content: "\e923";
}
:global(.icon-envelop):before {
  content: "\e945";
}
:global(.icon-telegram):before {
  content: "\ea95";
}
:global(.icon-twitter):before {
  content: "\ea96";
}
:global(.icon-github):before {
  content: "\eab0";
}
