@import "./vars.css";
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:500");
@import-normalize;

:global {
  body {
    margin: 0;
    color: var(--text-color);
    background: var(--background-color);
    font-family: "Roboto Mono", monospace;
    font-size: 17px;
    line-height: 1.6rem;
  }
  * {
    font-weight: 500;
  }
}
