@import-normalize
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500")
@value color-background, color-text from "./theme.sss"

body
  font-family: "Roboto Mono", monospace
  font-size: 16px
  color: color-text
  background: color-background
  margin: 0
  padding: 0

h1,h2,h3,h4,h5,h6
  font-weight: 500
