@import "../../../node_modules/modern-normalize/modern-normalize.css";

@font-face {
  font-family: "Roboto Mono";
  src: url("../../../static/fonts/RobotoMono-Regular.woff2") format("woff2"),
      url("../../../static/fonts/RobotoMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../../../static/fonts/RobotoMono-Medium.woff2") format("woff2"),
      url("../../../static/fonts/RobotoMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Roboto Mono";
  font-size: 17px;
  font-weight: 500;
  line-height: 1.6rem;
  background: #282323;
  color: #fff;
}
h1,h2,h3,h4,h5,h6,strong,b {
  font-weight: 500;
}
a {
  color: #df6a30;
}
