@value color-text, color-gray from "styles/theme.sss"

.container
  color: color-gray
  text-decoration: none
  font-size: 2.2rem
  transition: color ease-out .2s
  outline: none

  &:hover
    color: color-text
