@value color-text, color-accent from "../../layouts/theme.module.css";

.container {
  color: color-text;
  text-decoration: none;
  font-size: 2.4rem;
  transition: color ease-out 0.25s;
}

.container:hover {
  color: color-accent;
}
