.content h1 {
  font-size: 1.6rem;
}
.content h2 {
  font-size: 1.4rem;
}
.content h3 {
  font-size: 1.2rem;
  margin: 2.2rem 0 0rem;
}
.content em {
  color: #df6a30;
  font-style: normal;
}
.content ul {
  list-style-type: square;
  line-height: 1.8rem;
}
.links {
  margin-top: 48px;
  text-align: center;
}
