.container
  width: 640px
  margin: 64px auto
  padding: 0 64px
  font-weight: 500

  p
    line-height: 1.5rem
    margin: 0

  .header h2
    margin: 0 0 .6rem

  .header h3
    margin: 0

  .block
    margin: 32px 0

    h3
      margin: 0 0 .8rem

    ul
      margin: 0
      list-style: square

      li
        margin: 12px 0

  .links
    margin-top: 48px
