@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700");

@value color-background, color-text from "./theme.module.css";

body {
  background: color-background;
  font-family: "Roboto Mono", monospace;
  font-size: 17px;
  color: color-text;
}

p {
  line-height: 1.5rem;
}
